.imagen-container{
    background-image: url(imagen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    text-align: left;
    color: #e6e6e6;
    padding: 210px;
    font-size: 20px;
    position: fixed;
    width: 68%;
    height: 36%;
    z-index: 0;

}